/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-Rubick);
  background-image: url(/images/pattern-bg.png);
  background-color: #4A4BAA;
  background-size: cover;
  background-repeat: no-repeat;
}



/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --c-very-dark-grey: 0 0% 17%;
  --c-dark-grey: 0 0% 59%;
  --c-light: 100 100% 100%;
  --c-dark: 0 0% 0%;

  --ff-Rubick: 'Rubik', sans-serif;

  --fw-700: 700;
  --fw-500: 500;
  --fw-400: 400;

  --fs-400: 2rem;
  --fs-300: 1.125rem;
  --fs-200: 1.2rem;
  --fs-100: .8rem;
}
/* *************** */
/*  Utility Class  */
/* *************** */
/* Font Color */

.fc-very-dark-grey { color: hsl(var(--c-very-dark-grey)) }
.fc-very-grey { color: hsl( var(--c-dark-grey)) }
.fc-light { color: hsl(var(--c-light) ) }
/* Background Color */

.bgc-very-dark-grey { background-color: hsl(var(--c-very-dark-grey)) }
.bgc-light { background-color: hsl(var(--c-light)) }
.bgc-dark { background-color: hsl(var(--c-dark)) }
/* Font Size */


.fs-400 { font-size: var(--fs-400) }
.fs-300 { font-size: var(--fs-300) }
.fs-200 { font-size: var(--fs-200) }
.fs-100 { font-size: var(--fs-100) }

/* Font Weigth */

.fw-700 { font-weight: var(--fw-700) }
.fw-500 { font-weight: var(--fw-500) }
.fw-400 { font-weight: var(--fw-400) }

/* Upper Case */

.upper-case { text-transform: uppercase }

/* Text Center */

.text-center { text-align: center; }

.letter-spacing { letter-spacing: 2px; }

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.flex {
  display: flex;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, .1rem);
}

.container {
  margin-block: 2rem;
  margin-inline: auto;
  width: 90%;
  max-width: 1200px;
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}


.leaflet-container { 
  /* height: 100vh;  */
  height: 100vh;

  width: 100%;
}
/********** */
/* Header   */
/* ******** */

header {
  padding-top: 2.5rem;
  background-image: url(/images/pattern-bg.png);
  background-color: hsl( var(--c-very-dark-grey) / .6);
  height: 340px;
  background-size: cover;
  background-repeat: no-repeat;
  --gap: 0rem
}

form {
  justify-content: center;
  justify-items: center;
  align-content: center;
  place-items: center;

}

form input {
  height: 100%;
  width: 100%;
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 1rem;

}

form button {
  height: 100%;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  
}
form button:active,
form button:hover {
  opacity: .5;
}

/* Main  */

.ip--container {
  padding-block:1rem;
  width: 90%;
  border-radius: 10px;
  z-index: 99999;
  margin-block: 0;
  --gap:1rem
}

@media(max-width:700px) {
  .ip--container span {
    display: none;
  }
}

 @media (min-width:700px) {

  header {
    height: 240px;
    padding-top: 1rem;
  }

  form input{
    width: 50%;
  }

  .ip--container {
    padding-inline: 1rem;
    padding: 2rem 1rem;
    flex-direction: row;
    justify-content: space-around;
    --gap: 1rem;
    text-align: start;
    justify-content: space-evenly;
    position: relative;
    width: 80%;
  } 

  .ip--container span {
    display: flex;
    height: 100%;
    width: 1px;
    /* background-color: hsl( var(--c-dark-grey)); */
    position: relative;
  }
} 

